.flight-details-container {
	width: 80%;
	display: flex;
	justify-content: center;
}

.flight-table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flight-table th,
.flight-table td {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
}

.flight-table th {
	font-weight: bold;
}

.flight-table tbody tr:hover {
	background-color: black;
}
